
$base-color: #fff8e6;
$base-color-deep: #ffebcc;
$main-color: #facd89;
$main-color-light: #ffe0b1;

$sub-color: #d8836e;
$sub-color-deep: #ba6a56;
$body-fontcolor: #444;
$link-color-light: #A15C4A;
$link-color: #8C5547;
$link-color-deep: #6E4237;
$gray: #777673;
$red: #FF5E5E;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$ff-mplus: 'M PLUS 1p';
$ff-base: 'Noto Sans JP';

body {
  background-color: $base-color;
  font-size: 1rem;
  color: $body-fontcolor;
  font-family: $ff-base, sans-serif;
}

// Links
a {
  color: $link-color-light;
}

a:visited {
  color: $link-color-light;
}

a:hover,
a:active {
  color: $link-color;
}

a:focus {
  outline: thin dotted;
  text-decoration: underline;
}

#header {
  font-family: $ff-base;
}
#main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 4vw;
}

.box{
  h4{
    color: #d8836e;
    line-height: 1.4;
  }
  .date{
    display: block;
    margin-bottom: 16px;
    font-size: 0.85em;
    color: #666;
  }
  .name{
    display: block;
    margin-top: 8px;
    color: $gray;
    font-size: 0.8em;
    text-align: right;
  }
}
@media screen and (min-width: 768px){
  #main{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .box{
    flex-basis: calc((100% - 6 * 16px) / 3);
    min-width: 260px;
    margin: 0 16px 32px;
  }
}
